/* Basic WebApp CSS Start Here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.app-container{
    margin: 2rem;
}
/* Basic WebApp CSS Ends Here */




/* Header CSS Start Here */
.header{
   /* background-color: red; */
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}
.nav-items-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}

.logo-container img{
    width: 8em;
    /* background-color: aqua; */
}

.nav-items-container ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 6em;
}

.nav-items-container ul li{
    display: inline-block;
    margin: 1em 2em;
    font-size: larger;
}

/* Header CSS Ends Here */


/* HomePage CSS Start Here */
    
    .homepage{
        display: grid;
    grid-template-columns: repeat(auto-fit,minmax(27rem,0fr));
    gap: 2rem;
    }
/* HomePage CSS End Here */


/* ProductCard CSS Start Here */


.product-card .product-card-container .product {
    text-align: center;
    padding: 2rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;    outline: .1rem solid #ccc;
    outline-offset: -1.3rem;
    cursor: pointer;
    transition: 0.8s ease-in-out;
}

.product-card .product-card-container .product:hover{
    outline:0.2rem solid #000;
    outline-offset:0;
}

.product-card .product-card-container .product img{
    height: 15rem;
    transition: 0.8s ease-in-out;
}

.product-card .product-card-container .product:hover img {
    transform: scale(.9);
}

.product-card .product-card-container .product h3{
    padding: 0.5rem 0;
    font-size: 1.1rem;
}
.product-card .product-card-container .product h3:hover{
    color:#5cbdb9
}
.product-card .product-card-container .product h3 .brand{
    font-size: 1rem;
}

/* ProductCard CSS End Here */
